<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PLANT DISEASE CLASSIFIER</title>
    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/github-fork-ribbon-css/0.2.3/gh-fork-ribbon.min.css" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
        * {
            box-sizing: border-box;
            padding: 0;
            margin: 0;
        }

        .advice p {
            margin: 30px auto;
            padding: 10px;
            font-weight: 300;
            font-size: large;
        }

        #Exp {
            display: flex;
            justify-content: center;
            font-size: larger;
        }

        body {
            width: 80%;
            margin: 5rem auto;
            height: 140vh;
            background-color: #f8f9d2;
            background-image: linear-gradient(315deg, #f8f9d2 0%, #e8dbfc 74%);
        }

        h1 {
            display: flex;
            justify-content: center;
            margin: 10px auto;
            text-transform: uppercase;
            color: #293268;


        }

        h1 span {
            color: limegreen;
        }

        hr {
            margin: 10px 0px;
        }

        .github-fork-ribbon:before {
            background: limegreen !important;
        }


        .upload-btn-wrapper {
            position: relative;
            overflow: hidden;
            display: inline-block;
            cursor: pointer;
            font-family: 'Poppins', sans-serif;
            width: 100%;
            margin: 20px 0px;
        }

        .upload-file {
            border: 2px dashed #eee;
            color: #9b9b9b;
            background-color: white;
            width: 100%;
            height: 250px;
            border-radius: 8px;
            font-size: 15px;
            cursor: pointer;
        }

        .upload-btn-wrapper input[type=file] {
            width: 100%;
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
            opacity: 0;
            cursor: pointer;
            min-height: 300px;
        }

        .success-1,
        .success-2 {
            display: none;
            color: limegreen;
        }

        .success-1 i,
        .success-2 i {
            font-size: 18px !important;
            margin-left: 6px;
            margin-top: 4px;
            color: limegreen;
            border: 1px solid limegreen;
            padding: 5px;
            border-radius: 50%;
        }

        .font-50 {
            font-size: 50px;
        }

        .d-block {
            display: block;
        }

        .btn .upload-file {
            font-size: 30px;
        }

        .upload-btn {
            display: block;
            font-size: 18px;
            color: limegreen;
        }

        .upload-btn i {
            font-size: 100px;
        }

        img {
            width: 100%;
            height: 300px;
            display: none;
        }

        .row {
            display: flex;
            justify-content: space-around;
            flex-direction: row;
            flex-flow: wrap;
            margin: 20px auto;
        }

        .box {
            width: 45%;
        }

        .box img {
            border-radius: 20px;
            height: 350px;
        }

        .box-result p {
            background: limegreen;
            color: #fff;
            font-weight: bold;
            padding: 10px;
            margin-top: 20px;
            border-radius: 10px;
            display: none;
            text-align: center;
        }

        .box-result {
            display: none;
        }

        .accuracy {
            display: flex;
            justify-content: center;
            margin-top: 25px;
        }


        .progress {
            width: 130px;
            height: 130px;
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;

        }

        .progress>.inner {
            position: absolute;
            color: limegreen;
            border: 1px solid #9b9b9b;
        }

        .progress>svg {
            height: 100%;
            display: block;
        }

        .init_status {
            background: limegreen;
            color: white;
            padding: 10px;
            border-radius: 10px;
            transition: ease-in-out .5s;
            text-align: center;
            margin: 10px 0px;

        }

        @media (max-width: 768px) {
            .box {
                width: 100%;
            }
        }

        .tutorial {
            text-align: center;
            color: #222222;
        }

        path {
            stroke: limegreen;
            stroke-width: 10;
            fill-opacity: 0.2;
        }
    </style>
</head>

<body>

    <h1>🌽🍚Plant Disease Classifier🌱🌾</h1>

    <hr>


    <div class="upload-btn-wrapper">
        <button class="btn upload-file font-weight-500">
            <span class="upload-btn">
                <i class="material-icons d-block font-50 pb-2">cloud_upload</i>
                <p id="choose-text-1">Choose Image of Crop leaf</p>
            </span>
            <span class="upload-select-button" id="blankFile-1">
                *Supports .png, .jpg, .jpeg, .jfif
            </span>
            <span class="success-1">
                <i class="material-icons text-success">check</i>
            </span>
        </button>
        <input type="file" name="uploadImage" id="uploadImage">
    </div>
    <div class="row">
        <div class="box">
            <img src="" alt="" id="image" width="224" height="224">
        </div>

        <div class="box box-result">
            <div class="init_status"></div>
            <div>
                <h2>Your Plant is infected with :- <span class="pred_class"></span></h2>

            </div>
        </div>
    </div>
    <div class="advice">
        <p id="Exp"></p>
        <p id="links"></p>
        <p id="links1"></p>
    </div>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/tensorflow/2.0.1/tf.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/progressbar.js/1.0.1/progressbar.min.js"></script>
    <script src="/js/script.js"></script>
</body>

</html>